<header id="main-content-heading">
    <h1>Представление адаптеров</h1>
    <p>
        Данное представление отображает список зарегистрированных 
        адаптеров данных с возможностью добавления новых.
    </p>
    <p>
        Адаптеры поделены на кластеры. При выполнение рутин, нагрузка автоматически
        распределяется между всеми адаптерами в кластере.
    </p>
</header>

<main id="main-content-view">
    <h2>Зарегистрируйте новый адаптер данных</h2>
    <p>Заполните необходимые поля ниже.</p>
    <div id="register-adapter-container" class="card-container"></div>
    <h2>Зарегистрированные адаптеры</h2>
    <p>Следующий список содержит адаптеры, зарегистрированные в системе. Список поделен на кластеры.</p>
    <div id="adapter-cards-container" class="card-container"></div>
</main>

<script src="scripts/views_adapters.js"></script>
