<header id="main-content-heading">
    <h1>Routines View</h1>
    <p>The following view shows the list of registered routines.</p>
    <hr />
</header>

<main id="main-content-view">
    <h2>Register New Routine</h2>
    <p>
        Add a new routine to the controller by selecting given options in the
        form below.
    </p>
    <div id="register-routine-container" class="card-container"></div>
    <h2>Registered Routines</h2>
    <p>The following view shows cards of registered routines</p>
    <div id="routine-cards-container" class="card-container"></div>
</main>

<script src="scripts/views_routines.js"></script>
