<header id="main-content-heading">
    <h1>Страница аутентификации</h1>
    <p>
        Аутентифицируетесь для продолжения работы.
    </p>
</header>

<main id="main-content-view">
    <form method="post" id="authenticate-form">
        <label for="authenticate-form-username">Имя пользователя: </label>
        <input type="text" id="authenticate-form-username" name="authenticate-form-username">
        <label for="authenticate-form-password">Пароль пользователя: </label>
        <input type="password" id="authenticate-form-password" name="authenticate-form-password">
        <input type="submit" id="authenticate-form-submit" name="authenticate-form-password">
    </form>
</main>

<script src="scripts/views_authenticate.js"></script>
