<header id="main-content-heading">
    <h1>Authenticate View</h1>
    <p>
        The following view is used to authenticate a user.
    </p>
    <hr />
</header>

<main id="main-content-view">
    <form method="post" id="authenticate-form">
        <label for="authenticate-form-username">Enter username: </label>
        <input type="text" id="authenticate-form-username" name="authenticate-form-username">
        <label for="authenticate-form-password"> Enter password: </label>
        <input type="text" id="authenticate-form-password" name="authenticate-form-password">
        <input type="submit" id="authenticate-form-submit" name="authenticate-form-password">
    </form>
</main>

<script src="scripts/views_authenticate.js"></script>
