<header id="main-content-heading">
    <h1>Routines View</h1>
    <p>This view shows list of registered routines.</p>
</header>

<hr />

<main id="main-content-view">
    <h2>Register New Routine</h2>
    <div id="register-routine-container" class="card-container"></div>
    <hr />
    <h2>Registered Routines</h2>
    <p>The following view shows cards of registered workers</p>
    <div id="routine-cards-container" class="card-container"></div>
</main>

<script src="scripts/views_routines.js"></script>
