<header id="main-content-heading">
    <h1>Incidents View</h1>
    <p>
        The following view shows the list of incidents detected by the
        application.
    </p>
</header>

<main id="main-content-view">
    <h2>Fetched Incidents</h2>
    <p>The following view shows the list of incidents fetched the workers.</p>
    <div id="incident-list-container" class="incident-list"></div>
</main>

<script src="scripts/views_incidents.js"></script>
