<header id="main-content-heading">
    <h1>Adapters View</h1>
    <p>
        The following view shows the list of registered data adapters with their
        parameters.
    </p>
    <hr />
</header>

<main id="main-content-view">
    <h2>Register New Adapter</h2>
    <p>Add a new adapter to the controller by providing hostname and port.</p>
    <div id="register-adapter-container" class="card-container"></div>
    <h2>Registered Clusters</h2>
    <p>The following view shows cards of clusters that contain adapters.</p>
    <div id="adapter-cards-container" class="card-container"></div>
</main>

<script src="scripts/views_adapters.js"></script>
