<header id="main-content-heading">
    <h1>Представление обработчиков</h1>
    <p>
        Данное представление отображает список зарегистрированных 
        обработчиков данных с возможностью добавления новых.
    </p>
    <p>
        Обработчики отвечают за обработку и получение данных с адаптеров.
        Обработчик поддерживает несколько сессий нескольких рутин одновременно.
    </p>
</header>

<main id="main-content-view">
    <h2>Зарегистрируйте новый обработчик данных</h2>
    <p>Заполните необходимые поля ниже.</p>
    <div id="register-worker-container" class="card-container"></div>
    <h2>Зарегистрированные обработчики</h2>
    <p>Следующий список содержит рутины, зарегистрированные в системе.</p>
    <div id="worker-cards-container" class="card-container"></div>
</main>

<script src="scripts/views_workers.js"></script>
