<header id="main-content-heading">
    <h1>Workers View</h1>
    <p>This view shows list of registered workers with their parameters.</p>
</header>

<hr />

<main id="main-content-view">
    <h2>Register New Worker</h2>
    <div id="register-worker-container" class="card-container"></div>
    <hr />
    <h2>Registered Workers</h2>
    <p>The following view shows cards of registered workers</p>
    <div id="worker-cards-container" class="card-container"></div>
</main>

<script src="scripts/views_workers.js"></script>
