<header id="main-content-heading">
    <h1>Adapters View</h1>
    <p>
        This view shows list of registered data adapters with their parameters.
    </p>
</header>

<main id="main-content-view">
    <main id="main-card-content-view"></main>
</main>

<script src="scripts/adapters.js"></script>
