<header id="main-content-heading">
    <h1>Report View</h1>
    <p>
        The following view allows the user to file a report on clusters.
    </p>
    <hr />
</header>

<main id="main-content-view">
    <h2>Report algorithm</h2>
    <p>Select a report algorithm that is going to be processing data.</p>
    <select id="algorithm-select"></select>
    <div id="algorithm-container"></div>
</main>

<script src="scripts/views_report.js"></script>
