<header id="main-content-heading">
    <h1>Workers View</h1>
    <p>
        The following shows the list of registered workers with their
        parameters.
    </p>
    <hr />
</header>

<main id="main-content-view">
    <h2>Register New Worker</h2>
    <p>Add a new worker to the controller by providing hostname and port.</p>
    <div id="register-worker-container" class="card-container"></div>
    <h2>Registered Workers</h2>
    <p>The following view shows cards of registered workers</p>
    <div id="worker-cards-container" class="card-container"></div>
</main>

<script src="scripts/views_workers.js"></script>
