<header id="main-content-heading">
    <h1>Представление инцидентов</h1>
    <p>
        Данное представление отображает список обнаруженных 
        инцидентов, полученных от обработчиков.
    </p>
</header>

<main id="main-content-view">
    <h2>Список инцидентов</h2>
    <p>Список инцидентов, полученных со всех обработчиков, зарегистрированных в системе.</p>
    <form method="get" id="incident-page-form">
        <label>Номер страницы:</label><input type="number" id="incident-page-form-number"></label>
        <input type="submit" id="incident-page-form-submit">
    </form>
    <div id="incident-list-container" class="incident-list"></div>
</main>

<script src="scripts/views_incidents.js"></script>
