<header id="main-content-heading">
    <h1>Страница формирования отчета</h1>
    <p>
        Сформируйте отчет, выбрав алгоритм и заполнив необходимые поля.
    </p>
</header>

<main id="main-content-view">
    <h2>Алгоритм</h2>
    <p>Выберите алгоритм.</p>
    <select id="algorithm-select"></select>
    <div id="algorithm-container"></div>
</main>

<script src="scripts/views_report.js"></script>
