.adapter-card-wrapper {
    display: flex;
    flex-direction: column;
}

.adapter-card-info-line {
    padding: 5px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.adapter-card-info-line-status {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.adapter-card-info-line-indicator {
    margin: 0 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.adapter-card {
    min-height: 200px;
    min-width: 400px;

    background-color: rgb(206, 221, 221);
}

.adapter-card-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    overflow: hidden;

    min-height: 50px;
    background-color: rgb(185, 205, 194);
}
