.card {
    flex: 1;
    max-height: 500px;
    max-width: 1000px;
    transition: all 0.3s ease;

    overflow-y: hidden;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card.folded {
    max-height: 70px !important;
}

.card-heading {
    height: 70px;
    padding: 20px;
    background-color: #333;
    color: #fff;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
}

.card-heading-buttons {
    display: flex;
    flex-direction: row;
}

.card-heading-buttons * {
    cursor: pointer;
    margin: 0 5px;
    width: 20px;
    height: 20px;
}

.card-contents {
    max-height: 400px;
    overflow-y: scroll !important;
    padding: 20px;
}

.card-contents > * {
    margin-bottom: 20px;
}

.card-container {
    margin: 20px 0;
}

.card-container > * {
    margin: 20px 0;
}

.contents-card-wrapper {
    display: flex;
    flex-direction: column;
}

.contents-card-info-line {
    padding: 5px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.contents-card-info-line-status {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contents-card-info-line-indicator {
    margin: 0 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
