/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Radio Canada Big", sans-serif;
        -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body,
html {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

form > * {
    margin-bottom: 7px;
}

input,
select {
    height: 30px;
    border: none;

    padding: 0 10px;
    font-size: 15px;
}

select {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

details {
    cursor: pointer;
}

#main-container {
    display: flex;
    flex-direction: row;
    height: 100vh; /* Set the container to full viewport height */
}

#main-sidebar {
    font-size: 20px;
    min-width: 250px;
    padding: 0;
    height: 100vh;
}

#main-sidebar h1 {
    margin-left: 20px;
    margin-top: 20px;
}

#main-sidebar ul {
    list-style-type: none;
}

#main-sidebar li {
    padding: 0 10px;
    margin: 5px 20px;
}

#main-content {
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;

    padding: 20px;
    flex-grow: 1; /* Make the content area take up remaining space */
    overflow-y: auto;
}

#main-content-heading {
    width: 100%;
    margin-bottom: 20px;
}

#main-content-view {
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;

    margin-bottom: 200px;
}

#main-content-view > * {
    width: 800px;
    max-width: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #main-container {
        flex-direction: column;
    }

    #main-sidebar {
        height: auto;
    }
}

.fade-in {
    animation: fadeIn 0.3s ease-in-out;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  cursor: pointer;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
