/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
}

form > * {
    margin-bottom: 5px;
}

input,
select {
    height: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: none;

    padding: 0 10px;
    font-size: 15px;
}

select {
    border-radius: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

#main-container {
    display: flex;
    flex-direction: row;
    height: 100vh; /* Set the container to full viewport height */
}

#main-sidebar {
    background-color: #333;
    color: #fff;
    min-width: 200px;
    padding: 0;
    height: 100vh;
}

#main-sidebar ul {
    list-style-type: none;
    margin-top: 10px;
}

#main-sidebar li {
    margin-bottom: 10px;
    padding-left: 20px;
}

#main-sidebar a {
    color: #fff;
    text-decoration: none;
}

#main-sidebar a:hover {
    color: #ccc;
}

.main-sidebar-li-checked {
    background-color: #fff;
    color: #000;
}

.main-sidebar-li-checked a {
    color: #000 !important;
}

#main-content {
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;

    padding: 20px;
    flex-grow: 1; /* Make the content area take up remaining space */
    overflow-y: auto;
}

#main-content-heading {
    width: 100%;
    margin-bottom: 20px;
}

#main-content-view {
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;

    margin-bottom: 200px;
}

#main-content-view > * {
    width: 1000px;
    max-width: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #main-container {
        flex-direction: column;
    }

    #main-sidebar {
        height: auto;
    }
}

.fade-in {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
